<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168364402816-g4phjbedsqnrjhu56a2t1974ikdhjvec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168364402816-g4phjbedsqnrjhu56a2t1974ikdhjvec</string>
	<key>API_KEY</key>
	<string>AIzaSyCG440Io0QqJUZSqxQBQ68nyjyyROVj3SI</string>
	<key>GCM_SENDER_ID</key>
	<string>168364402816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zatro.watchful</string>
	<key>PROJECT_ID</key>
	<string>watchful-incident-app</string>
	<key>STORAGE_BUCKET</key>
	<string>watchful-incident-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168364402816:ios:54c8b19a66df8d5e6b5e65</string>
</dict>
</plist>